<% layout('layouts/boilerplate') %>

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Add New Customers</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/receptionist/dashboard">Receptionist</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/receptionist/booking">Booking</a>
                                </li>
                                <li class="breadcrumb-item active">Create
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Inputs start -->
            <section id="basic-input">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add New Booking</h4>
                            </div>
                            <div class="card-body">
                                <form action="/receptionist/booking/" method="post"
                                    class="create-booking validated-form" novalidate>
                                    <div class="row">
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="customer">Customer</label>
                                                <select required class="form-control" id="customer"
                                                    name="booking[customer]">
                                                    <% for(let customer of data['customers']){ %>
                                                    <option value="<%= customer._id %>"><%= customer.fname %> </option>
                                                    <%  } %>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Check Again!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="room">Room</label>
                                                <select required class="form-control" id="room" name="booking[room]">
                                                    <% for(let room of data['rooms']){ %>
                                                    <option value="<%= room._id %>"><%= room.number %> </option>
                                                    <%  } %>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Check Again!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="check_in">Check In time</label>
                                                <input type="datetime-local" class="form-control" id="check_in" required
                                                    name="booking[check_in]" required placeholder="Enter email" />
                                                <div class="invalid-feedback">
                                                    Check Again!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="checkout">Checkout</label>
                                                <input type="datetime-local" class="form-control" id="checkout" required
                                                    name="booking[checkout]" required placeholder="Enter Mobile" />
                                                <div class="invalid-feedback">
                                                    Check Again!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <label for="package">Package</label>
                                                <% for(let package of data["packages"]){ %>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input  customer-package"
                                                        name="booking[package]" data-price="<%= package.amount %>"
                                                        value="<%= package._id %>" id="<%= package._id %>" />
                                                    <label class="custom-control-label"
                                                        for="<%= package._id %>"><%= package.name %> -
                                                        <%= package.amount %></label>
                                                </div>
                                                <%  } %>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 col-12 mb-1">
                                            <div class="form-group">
                                                <!-- <div class="col-md-12"> -->
                                                <label for="ammenities">Ammenities</label>
                                                <!-- </div> -->
                                                <div class=" mx-1 row">
                                                    <% for(let ammenities of data['ammenities']){ %>
                                                    <div class="col-md-6 custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                            class="custom-control-input customer-amminities"
                                                            name="booking[ammenities][]"
                                                            data-price="<%= ammenities.price_per_unit %>"
                                                            value="<%= ammenities._id %>" id="<%= ammenities._id %>" />
                                                        <label class="custom-control-label"
                                                            for="<%= ammenities._id %>"><%= ammenities.name %> -
                                                            <%= ammenities.price_per_unit %></label>
                                                    </div>
                                                    <%  } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-md-12 col-12 mb-1">
                                            <div class="form-group">
                                                <input type="hidden" name="booking[total]" id="total_val">
                                                <h3 id="booking-total" class="text-danger">Total : 0</h3>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-md-12 col-12 mb-1">
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Submit for
                                                    Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic Inputs end -->
        </div>

    </div>
</div>
<!-- END: Content-->